<main>
<div id="home">
  <div align="center" id="circle"></div>
    <div align="center" id="transCircle">
      <div class="dial"></div>
    </div>
  <div class="container" id="formWrapper">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h1 class="animated fadeInDown slower greeting">{{msg}}</h1>
        <h2 class="animated zoomIn slower question">What's My Worth?</h2>
        <form name="buyorsellform" onsubmit="return validateForm()" class="animated fadeInUp slower" method="GET" action="/search">
          <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
              <select name="buyorsell">
                <option value="" disabled selected>Please Choose your option</option>
                <option value="1">I'm here to BUY</option>
                <option value="2">I'm here to SELL</option>
              </select>
              <label for="buyOrSell">How May I Help You?</label>
          </div>
          </div>
          <div class="row">
            <div class="col offset-s3 offset-m5 offset-l5 offset-xl5">
              <button id="submit" type="submit" value="Submit" class="waves-effect waves-light btn" href="/search">Submit!<i class="material-icons right">send</i></button>
            </div>
          </div>
        </form>
        <br>
        <div class="divider"></div>
      </div>
    </div>
  </div>
 

<div class="container-fluid">
  <div class="row">
    <div class="fixed-action-btn">
                <a class="btn-floating btn-large transparent">
                  <i class="large material-icons">menu</i>
                </a>
                <ul>
                  <li><a class="modal-trigger btn-floating transparent" href="#modal3"><i class="material-icons">person_pin</i></a></li>
                  <li><a class="modal-trigger btn-floating transparent" href="#modal2"><i class="material-icons">devices</i></a></li>
                  <li><a class="modal-trigger btn-floating transparent" href="#modal1"><i class="material-icons">developer_board</i></a></li>
                  <li><a class="modal-trigger btn-floating transparent" href="/"><i class="material-icons">home</i></a></li>
                </ul>
        </div>

        <div id="modal1" class="modal animated zoomIn">
            <div class="modal-content">
              <h4>App Information</h4>
              <p>A full-stack web application that helps the user search for the product's average price and provides a price history graph of the item searched by the user.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
            </div>
          </div>

          <div id="modal2" class="modal animated zoomIn">
            <div class="modal-content">
              <h4>Technologies Used</h4>
              <ul>
                <li>- Materialize CSS</li>
                <li>- MySQL</li>
                <li>- Heroku</li>
                <li>- D3</li>
                <li>- Scrape-It</li>
              </ul>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
            </div>
          </div>

          <div id="modal3" class="modal bottom-sheet animated fadeInUp">
                <div class="modal-content">
                  <h4 class="center-align">Developers</h4>
                  
                  <ul class="collection">
                      <li class="collection-item avatar">
                      <span class="title">Jeric Ayonke</span>
                      <p class="name">Front End Dev/ Back End Dev</p>
                      <a class="job" href="https://github.com/JecoLantern">https://github.com/JecoLantern</a>
                      <a href="https://www.linkedin.com/in/jeric-ayonke-93536443/" class="secondary-content"><i class="material-icons">contact_mail</i></a>
                      </li>
                      <li class="collection-item avatar">
                      <span class="title">Troy Gordon</span>
                      <p class="name">Back End Dev</p>
                      <a class="job" href="https://github.com/TroyAG">https://github.com/TroyAG</a>
                      <a href="https://www.linkedin.com/in/troy-gordon-008b38165/" class="secondary-content"><i class="material-icons">contact_mail</i></a>
                      </li>
                      <li class="collection-item avatar">
                      <span class="title">Daniel Grams</span>
                      <p class="name">Back End Dev</p>
                      <a class="job" href="https://github.com/dgrams99">https://github.com/dgrams99</a>
                      <a href="https://www.linkedin.com/in/daniel-grams-8b7133172/" class="secondary-content"><i class="material-icons">contact_mail</i></a>
                      </li>
                      <li class="collection-item avatar">
                      <span class="title">Alfonso Miguel Bernardo</span>
                      <p class="name">Front End Dev</p>
                      <a class="job" href="https://github.com/AMBernardo">https://github.com/AMBernardo</a>
                      <a href="https://www.linkedin.com/in/alfonso-miguel-bernardo-75a678167/" class="secondary-content"><i class="material-icons">contact_mail</i></a>
                      </li>
                  </ul>

                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                </div>
            </div>
  </div>
</div>
</main>

<footer>
  <div class="container">
    <div class="col s12 m12 l12 xl12">
      <p align="center">
        <span>© 2018 Copyright | <a href="https://github.com/TroyAG/Bootcamp-project-2">GO to GitHub Repository</a></span>
      </p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>