<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2">
        <h1>{{msg}}</h1>
        <h2>What's My Worth?</h2>
        <form class="col s12 animated fadeInUp slower delay-5s" action="POST">
          <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
              <i class="material-icons prefix">edit</i>
              <input type="text" placeholder="Enter Search">
              <label for="search">Search:</label>
            </div>
          </div>
          <button id="submit" class="btn waves-effect waves-light">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
