<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <p>
            <strong>ID</strong>: {{search.id}}</p>
          <p>
          <p>
            <strong>Search</strong>: {{search.search}}</p>
          <p>
            <strong>Price</strong>: {{search.price}}</p>
          <p>
            <strong>Description:</strong> {{search.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
