/* .list-group-item {
  line-height: 2.5;
} */

body {
  background-color: #e0e4ed;
}

.greeting {
  text-align: center;
}

.question {
  text-align: center;
}

.err404 {
  margin-top: 13rem;
  width: 80%;
  border: 3px solid #1c486b;
}

.err404msg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}