/* .list-group-item {
  line-height: 2.5;
} */

body {
  background-color: #e0e4ed;
}
footer {
  background-color: #e0e4ed;
  width: 100%;
  clear: both;
  position: fixed;
  bottom: 1rem;
  z-index: 1;
}

.greeting {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  text-shadow:
  -1px -1px 0  white,
  1px -1px 0  white,
  -1px 1px 0  white,
  1px 1px 0  white;
}

.question {
  text-align: center;
}

.err404 {
  margin-top: 13rem;
  width: 80%;
  border: 3px solid #1c486b;
}

.err404msg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #0d7a6d;
  text-align: center;
  text-shadow:
  -1px -1px 0  white,
  1px -1px 0  white,
  -1px 1px 0  white,
  1px 1px 0  white;
}

.back2home {
  font-weight: bold;
}

.developers {
  font-size: 1rem !important;
}

.contentsCard {
  padding: 0.5rem !important;
}
.formatCard {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  margin: 0 !important;
}


/* ------Animated BG styling----------- */

body{
  width: 100%;
min-height: 100%;
height: 100vh;
background-image: url(../img/BG.jpg);
/* background-position: bottom; */
/* background-repeat: no-repeat; */
background-size: cover;
overflow: hidden;
position: absolute;
}

#circle {
background-color: transparent;
border:1px solid black;  
opacity: .1;  
height:500px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
width:500px;
position: fixed;
left: 25rem;
top: 2rem;
animation: spin 15s ease-in-out infinite;
z-index: -1;

}

#transCircle {
background-color:transparent;
border:1px solid #09383E;    
height:500px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
width:500px;
position: fixed;
left: 25rem;
top: 2rem;
border-color: #09383E transparent;
animation: spin2 15s ease-in-out infinite;
z-index: -1;
opacity: .3;
}

.dial:after{
content: "";
background-image: url(../img/dial.png);
background-repeat: no-repeat;
background-position: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: #000;
position: absolute;
opacity: .7;
}




@keyframes spin {
0% {
  transform: rotate(-45deg);
}
100% {
  transform: rotate(-405deg)
}
} 
@keyframes spin2 {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg)
}
} 

@media only screen and (max-width: 600px) {
  #circle {
    left: 3rem;
    height: 300px;
    width: 300px;
  }

  #transCircle{
    left: 3rem;
    height: 300px;
    width: 300px;
  }

  .dial:after{
    background-size: 280px;
  }

}

/* -----FABs and modals styling----- */
div.fixed-action-btn{
  top: 0;
  left: 0;
  
}

i.material-icons{
  color:black;
  
}

.btn-floating{
  box-shadow: none !important;
  border: none !important;
}

div.fixed-action-btn{
  height: 3rem;
}


/* ---color and positioning adjustments--- */
/* label color */
label{
  color: #000 !important;
}

/* landing button color */
a.waves-effect.waves-light.btn{
  background-color: rgb(18, 73, 105) !important;
}
/* landing drop down color */
input.select-dropdown:focus {
  border-bottom: 1px solid rgb(2, 213, 250) !important;
}
/* options text color */
span{
  color: #09383E !important;
}


/* search text area color and the icon color*/
.input-field input[type=text]:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

i.material-icons.prefix.active{
  color: red !important;
}

/* search button color */
button#submit.btn.waves-effect.waves-light{
  background-color: rgb(18, 73, 105) !important;
}


